<ul class="ph-listbox-dragdrop" id="<%= html_options[:id] %>" data-model-name="<%= object_model %>" data-sort-key="<%= sort_key %>" data-callback="<%= callback %>">
  <% objects.each do |item| -%>
    <li id="<%= "ph_sortable_#{item.id}" %>"><%= item.send(label) %></li>
  <% end -%>
</ul>
